<script defer src="/public/scripts/app.js"></script>
<form
    onsubmit="createTask(event)"
    class="form-create-task form"
>
    <div class="form-part">
        <label for="new-task-title">
            Nom de la tâche
        </label>
        <input
            id="new-task-title"
            type="text"
            onchange="setTitle(event.target.value)"
        />
    </div>

    <div class="form-part">
        <label for="new-task-desc">
            Description de la tâche
        </label>
        <textarea
            id="new-task-desc"
            type="text"
            onchange="setDescription(event.target.value)"
        ></textarea>
    </div>

    <div class="form-part form-date-container">
        <label for="new-task-date">Date</label>
        <input
            type="date"
            id="new-task-date"
            onchange="setDueDate(event.target.value)"
        />
    </div>

    <div class="form-buttons">
        <button
            type="button"
            onclick="onCloseForm()"
            class="form-button button button-close"
        >Annuler</button>

        <button
            type="submit"
            class="form-button button button-submit-task"
        >Valider</button>
    </div>
</form>