<script defer src="/public/scripts/app.js"></script>
<header class="header">
    <h1>DevOps M1 | Project</h1>
    <button
        onclick="handleClickOnCreateEvent()"
        class='button-add-task'
    >
        Add a task
    </button>
</header>