<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/index.css">
    <script defer src="/public/scripts/app.js"></script>
    <title>DevOps M1 | Project</title>
</head>
<body>
    <%- include('headerBar') %>
    <main>
        <% if (todos.length > 0) { %>
            <%- include('category', {
                onUpdateTask: 'getTodos()',
                title: 'Tâches à faire',
                tasks: todos,
                complete: false
            }) %>
        <% } %>
        <% if (done.length > 0) { %>
            <%- include('category', {
                onUpdateTask: 'getTodos()',
                title: 'Tâches réalisées',
                tasks: done,
                complete: true
            }) %>
        <% } %>
    </main>
    <% if (creationTaskRunning) { %>
        <%- include('modal', {
            titleModal: 'Créer une tâche',
            children: include('formCreationTask', {
                onCreateTask: 'endCreationTask()',
                onCloseForm: 'setCreationTaskRunning(false)'
            })
        }) %>
    <% } %>
    <script src="/scripts/app.js"></script>
</body>
</html>