<script defer src="/public/scripts/app.js"></script>
<div class="modal-overlay">
    <div class="modal">
        <h3 class='modal-title'><%= titleModal %></h3>
        <%= children %>
    </div>
</div>